<div class="top-inner">

<div class="top-one tops">
  <div>
    <img src="/assets/b1.png" class="top-img" >
  </div>
  <h1 class="top-texts">Hydrangea</h1>
  <br>

  <h4 class="top-texts">あなたの「好き」を否定しない画像投稿サービス</h4>
</div>

<br>
<div class="top-two tops">
  <div>
  <img src="/assets/r1.png" class="top-img" >
  </div>
  <br>
  <h3 class="top-texts">Hydrangeaの特徴</h3>
  <div class="top-two-text top-texts">
    <h4>お気に入り機能</h4>
    <div>
    ユーザーとその投稿をお気に入り登録できますが、それが他人に見られることはありません
    </div>
  </div>
  <div class="top-twoo-text top-texts">
    <h4>コメント機能の撤廃</h4>
    <div>
    誰かの投稿にコメントすることができません。称賛はされませんが否定されることもありません
    </div>
  </div>
  <div class="top-two-text top-texts">
    <h4>多彩なスキン機能</h4>
    <div>
    投稿しレベルを上げることでアイコンを入手することができます<br>
    無名クリエイターによる多彩なアイコンであなたの日常を彩りましょう
    </div>
  </div>
</div>

<div class="top-three tops">
  <div>
  <img src="/assets/p1.png" class="top-img" >
  </div>
  <br>
  <h3 class="top-texts">Hydrangeaであなたの「好き」を咲かせましょう</h3>
  <br>
  <a class="post" href="/users/sign_up">
    <h3 class="logins">新規登録</h3>
  </a>
</div>




</div>