<div class="lover-inner">
 <h1>愛しているユーザー</h1>
 <ul class='item-lists'>
    <% @loves.each do |loves| %>
    <br>
      <li class='list'>
        <%= link_to user_path(loves.id) do %>
        <div class='item-info'>
        <span class="user-skin"><%= image_tag(url_for(controller: :skins, action: :show, id: loves.icon_ids),size: "30x30")%></span>
          <b class='item-name'><%= loves.nickname %></b>
        </div>
        <% end %>
      </li>
     <% end%>
</div>
