<h1 class="search-title">スキン一覧</h1>

<div class="skin-inner">
<% (@count).times do |n|%>
  <div class="skins">
  <a href="/skins/<%=n+1%>/orders">
  <span class="skin-icon skin-text", id="<%n+1%>">
    <%= image_tag(url_for(controller: :skins, action: :show, id: n+1),size: "30x30")%>
    <%= @name[n]['medal'] %>
    </a>
  </span>
  </div>
<% end %>
</div>

<h3 class="search-title">クリックして詳細へ</h3>