/*リセットcss*/
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: #3b4043;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #3b4043;
}
/*リセットcss*/

.header{
  height: 7vh;
  width: 100vw;
  position: fixed;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 3px whitesmoke;

}
.left{
  display: flex;
}
.index-btn{
  padding-left: 10px;
  padding-right: 5px;
  border-right: solid 2px whitesmoke;
}
.fav-btn{
  padding-left: 30px;
  display: flex;
  align-items: center;
}
.fav-flowerbtn{
  padding-right: 10px;
}

.right{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 30px;
}
.new-btn{
  padding-right: 20px;
  padding-top: 5px;
}
.user-btn{
  padding-right: 15px;
}
.seach-btn{
  padding-right: 20px;
  padding-top: 5px;
}
.user-text{
  color: rgb(95, 95, 95);
  font-family: sans-serif;
  font-size: 24px;
}
.coin-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
}
.coin-text{
  color: rgb(95, 95, 95);
  font-family: sans-serif;
  font-size: 24px;
}

.blue-icon{
  height: 50px;
  width: 50px;
}
.fav-icon{
  height: 40px;
  width: 40px;
}
.user-icon{
  height: 30px;
  width: 20px;
}
.new-icon{
  height: 30px;
  width: 35px;
}
.coin-icon{
  height: 30px;
  width: 30px;
}
.seach-icon{
  height: 30px;
  width: 30px;
}


.main{
  height: 93vh;
  padding-top: 10vh;
  width: 100vw;
}

.coin-field{
  visibility: hidden;
}

.new-modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  display: none;
}
.modal {
  position: absolute;
  top: 20%;
  left: 34%;
  background-color: #f3f3f3;
  padding: 20px 0 40px;
  border-radius: 10px;
  width: 450px;
  height: auto;
  text-align: center;
}
.close-icon{
  height: 30px;
  width: 30px;
  position: absolute;
  top: 12px;
  right: 12px;
}