/*リセットcss*/
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  color: #4c4e50;
  background-color: rgb(251, 255, 255);
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #3b4043;
}

b {
  font-family: sans-serif;
}
/*リセットcss*/

.header{
  height: 7vh;
  width: 100vw;
  position: fixed;
  background-color: rgb(253, 255, 255);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 3px rgb(243, 245, 245);
}
.left{
  display: flex;
}
.index-btn{
  padding-left: 10px;
  padding-right: 5px;
  border-right: solid 2px rgb(243, 245, 245);;
}
.fav-btn{
  padding-left: 30px;
  display: flex;
  align-items: center;
}
.fav-flowerbtn{
  padding-right: 10px;
}

.right{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 30px;
}
.btns{
  position   : relative;
}
.new-btn{
  padding-right: 20px;
  padding-top: 5px;
}
.user-btn{
  padding-right: 15px;
}
.seach-btn{
  padding-right: 20px;
  padding-top: 5px;
}
.user-text{
  color: rgb(95, 95, 95);
  font-family: sans-serif;
  font-size: 24px;
}
.coin-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  padding-right: 15px;
}
.coin-text{
  color: rgb(95, 95, 95);
  font-family: sans-serif;
  font-size: 24px;
}
.level-btn{
  height: 30px;
  width: 30px;
  padding-top: 2px;
}
.exit-btn{
  padding-top: 5px;
  padding-left: 15px;
}

.blue-icon{
  height: 50px;
  width: 50px;
}
.fav-icon{
  height: 40px;
  width: 40px;
}
/*.user-icon{
  height: 30px;
  width: 20px;
}*/
.new-icon{
  height: 30px;
  width: 35px;
}
.coin-icon{
  height: 35px;
  width: 35px;
}
.seach-icon{
  height: 30px;
  width: 30px;
}
.exit-icon{
  height: 30px;
  width: 30px;
}


.main{
  height: 93vh;
  padding-top: 10vh;
  width: 100vw;
}

.coin-field{
  visibility: hidden;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  display: none;
}
.modal {
  position: absolute;
  top: 20%;
  left: 34%;
  background-color: #f3f3f3;
  padding: 20px 0 40px;
  border-radius: 10px;
  width: 450px;
  height: auto;
  text-align: center;
}
.close-icon{
  height: 30px;
  width: 30px;
  position: absolute;
  top: 12px;
  right: 12px;
}


.balloon {
  position   : absolute;
  display: none;
  width:110px;
  left: -10%;
  top: 80%;
  margin-top : 12px;
}
.balloon-text{
  font-family: sans-serif;
  font-size: 18px;
  color: #636363;
}
.exit-balloon{
  position   : absolute;
  display: none;
  width:110px;
  left: -20%;
  top: 80%;
  margin-top : 12px;
}
.index-balloon{
    position   : absolute;
    display: none;
    width:110px;
    left: 0%;
    top: 80%;
    margin-top : 12px;
}

.flash{
  display: flex;
  justify-content: center;
  text-align: center;
  z-index: 0;
  position: fixed;
  z-index: 1;
  margin: auto;
  width: 100vw;
  background-color: rgba(134, 217, 255, 0.507);
}
.select-icons{
  display: flex;
}

.select-icon{
  border-radius: 10px;
}

.selected-icon{
  background-color: rgba(174, 255, 205, 0.5);
}

.preview{
  height: 50px;
  width: 50px;
}

.previews{
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.invisi{
  display: none;
}